NUXT_PUBLIC_SITE_URL=https://your-webar-lab.vercel.app
NUXT_PUBLIC_AR_ENGINE_URL=https://cdn.jsdelivr.net/npm/@8thwall/engine-binary@1.0.0/dist/xr.js
NUXT_PUBLIC_AR_EXTRAS_URL=https://cdn.jsdelivr.net/npm/@8thwall/xrextras@1.0.0/dist/xrextras.js
NUXT_PUBLIC_AR_LANDING_PAGE_URL=https://cdn.jsdelivr.net/npm/@8thwall/landing-page@1.0.0/dist/landing-page.js

